body {
    background: url(misubishi.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 9;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

form {
    width: 500px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #000000;
}


input {
    display: block;
    border: 2px solid #ffffff;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
}

button {
    float: right;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

button:hover {
    opacity: .7;
}

.error {
    background: #f09dab;
    color: #e92e2b;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.success {
    background: #ffffff;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #fff;
}

.ca {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #490af5;
}

.ca:hover {
    text-decoration: underline;
}